.listingPage {
  width: 100%;
  height: auto;
  padding: 45px 0px;
}

.breadcrumb {
  width: 100%;
  height: auto;
  padding: 45px 45px;
  background: #d8f1e5;
  border-radius: 20px;
  margin-bottom: 30px;
}

.breadcrumb h1 {
  color: #000;
  opacity: 0.8;
  font-size: 50px;
  font-weight: bold;
}

.breadcrumb ul li {
  margin-right: 20px !important;
}

.breadcrumb ul li a {
  color: #000;
  text-decoration: none;
  font-size: 22px;
}
