@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-g .bg-success {
  background-color: #3bb77e;
}

.text-g {
  color: #3bb77e;
}

.cursor {
  cursor: pointer;
}

.container-fluid {
  padding: 0px 45px;
}
.hd{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 25px;
}

.Icon {
  opacity: 0.6;
  padding: 1px;
  margin-right: 10px;
}